*::after, +::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    border: 10px solid greenyellow;
}

.link-header {
    width: 100%;
    justify-content: space-evenly;
    height: 50%;
    background-color: #04AA6D;
    border: 3px solid red;
}

.link-header i{
    display: inline-flex;
}

.flex-center {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 5px solid red;
    background-color: aqua;
}

.maison {
    background-color: #33FF49;
    display: flex;
    padding: 10px;
    border: 5px solid red;
}

header .link-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
}


.image-logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    margin-bottom: 1000px;
    border: 5px solid gray;
}

.image-logo button { 
    margin: 0 15px;
    width: 10%;
    left: 50px;
    height: 20px;
    margin-top: 300px;
    background-color: brown;
    -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.image-logo img {
}

/* Parte Principale*/

main {
    margin-top: 150px;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}
.about {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 400px;
    padding: 20px;
    border: 1px solid red;
}

.about-2 {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.about-2 button {
    width: 15%;
    background-color: #04AA6D;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 15px;
}
.about-2 button:hover{
    background-color: rgb(118, 190, 118);
}

.fonct-principale {
    background-image: url("./images/bg-icon.png");
    width: 100%;
    height: 500px;
    border: 2px solid green;
    border: 1px solid red;
}

.fonct-nos{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    border: 1px solid red;

}

.fonctionalites {
    display: flex;
    text-align: center;
    padding: 10px;
    border: 1px solid red;
    
}

.fonctionalites h2 {
    width: 100%;
    width: 100px;
    font-size: 24px;
}

.fonctionalites .processus .produits .biologiquement {
    width: 10%;
    background-color: white;
    border: 2px solid red;
    margin-right: auto;
}

.fonctionalites button {
    padding: 10px 15px;
    border: 1px solid #04AA6D;;
    color: #04AA6D;
    border-radius: 50px;
}

.fonctionalites button:hover{
    background-color: white;
}

/* Nos produits et prix*/
.total-fruits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 2em;
    position: relative;
    border: 1px solid red;
}
.total-fruits img {
    width: 90%;
    height: 250px;
}

.total-fruits button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;   
    text-align: center;
    display: block;
}


/* Des infs d´entreprise e avis de clients*/

.visit-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    border: 7px solid blue;
    background-image: url("./images/bg-icon.png");
    margin-bottom: 10px;
}
.visit {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: #33FF49;
    border: 1px solid red;
}
.visit-1 {
    display: flex;
    width: 30%;
    flex-direction: column;
    text-align: center;
    color: white;
}

.avis-clients{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    border: 7px solid yellow;
}

.avis-client-inf {
    align-items: center;
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.avis-nom-client {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 30px;
    border: 3px solid rgb(126, 153, 51);
}

.avis-nom-client-1 {
    text-align: center;
    border: 5px solid magenta;
}
.avis-nom-client-1 img {
    border-radius: 50%;
}

.avis-nom-client-1 p{
    text-align: center;
}

.avis-nom-client-2 {
    border: 5px solid rgb(235, 13, 13);
    text-align: justify;
}
.avis-nom-client-2 {
    background-color: #33FF49;
    text-align: center;
    color: white;
}
.avis-nom-client-2 img{
    border-radius: 50%;
}

.avis-nom-client-3 p {
    text-align: center;
}

.avis-nom-client-3 img{ 
    border-radius: 50%;
}
.avis-nom-client-3 {
    border: 5px solid rgb(22, 231, 39);
    text-align: center;
}

.visit button {
    margin-top: 50px;
    width: 20%;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: red;
    color: white;
    border: 5px solid goldenrod;
   
}

.blogs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
    text-align: center;
    border: 5px solid mediumseagreen;
}

.blogs h2{
    width: 100%;
    height: 20px;

}

.blogs p{
    width: 25%;
    text-align: center;

}

.blogs-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    padding: 20px;
    border: 6px solid blanchedalmond;
}


.blogs-content img {
    width: 50%;
}

/*
footer {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    left: 0;
    bottom: 1px;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 200px;
    border: 1px solid red;
    position: fixed;
}
.footer-1 {
    background-color: #33FF49;
    width: 100%;
    height: 200px;
    padding: 100px;
}
.footer-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: white;
    
}
*/

